.Nav {
  background-color: lightgreen;
  padding: var(--general-padding);
}

.Nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.5rem;
  list-style-type: none;
  font-size: 1.25rem;
}
